/*--------------------------sidenav-profile--------------------------*/
#sidenav-profile {
  width: 100%;
  height: 75px;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

#sidenav-profile img {
  cursor: pointer;
}

#sidenav-profile-content{
  height: fit-content;
  margin-left: 15px;
}

#sidenav-profile-name {
  font-size: 1.2em;
  font-weight: 500;
}

#sidenav-profile-content .sidenav-link{
  width: fit-content;
}

#sidenav-profile-open-icon{
  height: 18px;
  width: 18px;
  font-size: 18px;
  padding-left: 3px;
}


/*----------------------------sidenav-nav----------------------------*/

#sidenav-nav {
  width: 100%;
  height: 100%;
  padding-left: 0;
  font-size: 1.2em;
  font-weight: 500;

}

.sidenav-nav-item {
  width: auto;
  height: 65px;
  display: flex;
  align-items: center;
}

.sidenav-nav-item:hover, .active{
  background: var(--light-gray);
}

.sidenav-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #767676;
  display: flex;
  align-items: center;
}

.sidenav-text {
  margin-left: 25px;
}

.sidenav-nav-line {
  margin-right: 63px;
  height: 0;
}

.sidenav-nav-icon{
  height: 25px;
  width: 25px;
  font-size: 25px;
}

.active .sidenav-nav-line {
  height: 100%;
  width: 7px;
  background: var(--blue);
  animation-name: line-animation;
  animation-duration: 0.25s;
}

.active  .sidenav-text,
.active  .sidenav-nav-icon {
  color: var(--blue);
}

@keyframes line-animation {
  from {height: 0;}
  to {height: 100%;}
}
