@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
  margin: 0;
  font-family: rubik, sans-serif;
  color: var(--gray);
}

@font-face {
  font-family: rubik;
  src: url(assets/fonts/Rubik-VariableFont_wght.ttf) format("opentype");
}

:root{
  --gray: #4F4F4FC7;
  --light-gray: #E9E9E9;
  --blue: #2D70B3;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
